input {
  margin-top: .5rem;
  padding: .5rem 0;
  border: none;
  border-bottom: 1px solid #cccccc;
  font-size: 1rem;
  width: 100%;
  transition: border-color ease-in-out .15s;
  box-sizing: border-box;
}

input:active,
input:focus {
   outline: transparent;
   border-color: #4b3cfa;
}

label {
  padding: .5rem;
  font-size: .9rem;
  color: #999999;
}

.currency {
  position: absolute;
  top: 2.5rem;
  left: .5rem;
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.error-msg {
  color: #F1586B;
  padding: .5rem;
  font-size: .8rem;
}